name: Testing hdiutil 1

on:
  workflow_dispatch:

jobs:
  build-and-create-dmg:
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest','macos-13']
        
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.2.app

    - name: Build Xcode project
      run: | 
        xcodebuild clean build -project Sample_2.xcodeproj -scheme Sample_2 -configuration Debug -derivedDataPath build -sdk iphonesimulator

    - name: Check path
      run: |
        cd build/Build/Products/
        ls -ltr
        
    - name: Install create-dmg
      run: |
        brew install create-dmg
        
    - name: Create a disk image using create-dmg
      run: |
        mkdir -p output
        create-dmg \
          --volname "Sample_2" \
          --window-pos 100 100 \
          --window-size 480 582 \
          --icon-size 128 \
          --icon "Sample_2.app" 240 108 \
          --app-drop-link 240 332 \
          output/Sample_2.dmg \
          build/Sample_2.app

    - name: Upload disk image
      uses: actions/upload-artifact@v3
      with:
        name: Sample_2.dmg
        path: output/Sample_2.dmg
          
          
